<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.ibm.mapper.IssueMapper">

	<!-- 统计报表 -->
	<select id="issueCount" resultType="com.ibm.entity.IssueUser">
		select
		u.userID,
		u.name,
		sum(i.creater = u.name) AS creation ,
		sum(i.userID =
		u.userID) AS
		recived ,
		sum(i.userID = u.userID and (i.issuestate =
		'待验证')) AS
		resolved,
		sum(i.creater = u.name and (i.issuestate =
		'已关闭')) AS closed,
		ifnull(
		concat(
		round(
		sum(i.userID = u.userID and (i.issuestate =
		'待验证'))
		/
		sum(i.userID = u.userID)
		*100),
		'%')
		,'0%') AS completion
		from
		usertable u,issuetable i
		WHERE
		u.roleID = 0
		GROUP BY
		u.userID
	</select>

	<!-- 报表查询 IdOrName -->
	<select id="issueIdOrName"
		parameterType="com.ibm.entity.IssueUser"
		resultType="com.ibm.entity.IssueUser">

		select
		u.userID,
		u.name,
		sum(i.creater =
		u.name ) AS creation ,
		sum(i.userID = u.userID ) AS recived ,
		sum(i.userID =u.userID and
		(i.issuestate = '待验证') ) AS resolved ,
		sum(i.creater = u.name and
		(i.issuestate = '已关闭') )AS closed ,
		ifnull(
		concat(
		round(
		sum(i.userID =
		u.userID and (i.issuestate = '待验证'))
		/
		sum(i.userID = u.userID)
		*100),
		'%')
		,'0%') AS completion
		from
		usertable u,issuetable i
		<where>
			<if test="userID != null and userID !=''">
				AND u.userID = #{userID}
			</if>
			<if test="name != null and name !=''">
				AND u.name LIKE '%' #{name} '%'
			</if>
			AND u.roleID = 0
		</where>
		GROUP BY u.userID

	</select>

	<select id="findByUserID" parameterType="int"
		resultType="com.ibm.entity.User">
		SELECT * FROM `usertable` WHERE userID=#{userID};
	</select>

	<!-- 创建issue -->
	<insert id="addIssue" parameterType="com.ibm.entity.Issue">
		INSERT INTO
		issuetable(userID,creater,title,type,level,version,plantime,acttime,step,solution,issuestate)
		VALUES(#{userID},#{creater},#{title},#{type},#{level},#{version},
		#{plantime}, #{acttime},
		#{step},#{solution}, #{issuestate});
	</insert>

	<!-- issue任务表 -->
	<select id="findIssuetask" parameterType="int"
		resultType="com.ibm.entity.IssueUser">
		SELECT
		issueID,title,creater,createtime,usertable.name,issuestate,plantime,acttime
		FROM issuetable,usertable
		WHERE issuetable.userID=usertable.userID AND
		issuetable.userID=#{userID}
		ORDER BY
		createtime DESC
	</select>
	<select id="findIssueAll" resultType="com.ibm.entity.IssueUser">
		select
		*
		from
		issuetable
		i,usertable u where i.userID=u.userID
	</select>
	<select id="findLikeIssue"
		parameterType="com.ibm.entity.IssueUser"
		resultType="com.ibm.entity.IssueUser">
		SELECT
		is1.issueID,is1.title,is1.creater,is1.createtime,usertable.name,is1.issuestate,is1.plantime,is1.acttime
		FROM (SELECT * FROM issuetable WHERE userID=#{userID}) AS
		is1,usertable
		<where>
			<if test="issueID != null and issueID !=''">
				AND issueID = #{issueID}
			</if>
			<if test="issuestate != null and issuestate !=''">
				AND issuestate LIKE '%' #{issuestate} '%'
			</if>
			<if test="creater != null and creater !=''">
				AND creater LIKE '%' #{creater} '%'
			</if>
			<if test="name != null and name !=''">
				AND name LIKE '%' #{name} '%'
			</if>
			<if test="createtime!= null and createtime !=''">
				AND createtime <![CDATA[>=]]>
				#{createtime}
			</if>
			<if test="createtime1 != null and createtime1 !=''">
				AND createtime <![CDATA[<=]]>
				#{createtime1}
			</if>
			<if test="plantime != null and plantime !=''">
				AND plantime <![CDATA[>=]]>
				#{plantime}
			</if>
			<if test="plantime1 != null and plantime1 !=''">
				AND plantime <![CDATA[<=]]>
				#{plantime1}
			</if>
			AND is1.userID=usertable.userID
		</where>
		ORDER BY is1.issueID DESC
	</select>

	<!-- issue修改：根据issueID查询并修改该记录 -->
	<update id="UpdateIssue" parameterType="com.ibm.entity.Issue">
		UPDATE issuetable
		SET
		title=#{title},type=#{type},level=#{level},version=#{version},acttime=#{acttime},step=#{step},issuestate=#{issuestate}
		WHERE userID=#{userID} AND issueID=#{issueID}
	</update>

	<!-- issue修改：修改解决方案solution -->
	<update id="UpdateIssueSolution"
		parameterType="com.ibm.entity.Issue">
		UPDATE issuetable
		SET solution=#{solution}
		WHERE
		userID=#{userID} AND issueID=#{issueID}
	</update>

	<!-- issue修改：修改state -->
	<update id="UpdateIssueState"
		parameterType="com.ibm.entity.Issue">
		UPDATE issuetable
		SET issuestate=#{issuestate}
		WHERE
		userID=#{userID} AND issueID=#{issueID}
	</update>
</mapper>